<body>
  <div class="row">
    <p class='col-12'><%= @bulk_discount.name %></p>
  </div>

  <div id="current-bulk-discount">
    <strong>Percentage Discount: </strong><%= @bulk_discount.percentage_discount %><br>
    <strong>Quantity Threshold: </strong><%= @bulk_discount.quantity_threshold %>
  </div>
  <br>

</body>
